.cover-img {
  width: 100%;
  height: 400px;    
  object-fit: cover;
  border-radius: 10px;
}


/* Card libro centrata e margini */
.book-card {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  margin: 0 auto;
}


.book-title {
  margin-top: 8px;
  font-size: 0.9em;
}

/* Navbar */
nav {
  background-color: rgba(48, 113, 93);
  padding: 0.5rem 1rem;
  z-index: 100;
  font-family: Arial, sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a,
nav button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.main-content {
    background-color: #dde6d4; 
    min-height: 100vh;
    padding: 2rem;
}

/* Carosello */
/* Contenitore swiper con padding a sx e dx */
.swiper {
  padding: 20px 80px; /* 40px spazio a sinistra e destra */
  position: relative; /* per posizionare frecce assolute */
}

.swiper-slide {
  flex: 0 0 calc((100% - 80px) / 5);
  max-width: calc((100% - 80px) / 5);
  margin-right: 20px;
}

.swiper-wrapper {
  display: flex;
  align-items: start;
}

.carousel-section {
  margin-bottom: 40px;
  padding: 0 60px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* larghezza della freccia */
  height: 40px; /* altezza della freccia */
  z-index: 10;
  color: #306f5d; /* Colore della freccia */
  background: none;
}

/* Freccia sinistra fuori dal carosello */
.swiper-button-prev {
  left: 0px; 
  position: absolute;
}

.swiper-button-next {
  right: 0px;
  position: absolute;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px; /* ingrandisce la freccia */
}
