<form th:action="@{/admin}" th:object="${libro}" method="post" enctype="multipart/form-data">
    <label>Titolo:</label>
    <input type="text" th:field="*{titolo}" required/>
    <label>Genere:</label>
    <input type="text" th:field="*{genere}" required/>

    <label>Copertina Libro:</label>
    <input type="file" name="copertinaFile" accept="image/*" />

    <label>Autori:</label>
    <select multiple th:field="*{autori}">
        <option th:each="autore : ${autori}" 
                th:value="${autore}" 
                th:text="${autore.nome} + ' ' + ${autore.cognome}"></option>
    </select>

    <button type="submit">Salva Libro</button>
</form>
