<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="it">
<head>
  <meta charset="UTF-8"/>
  <title>Nuovo Autore</title>
  <link rel="stylesheet" th:href="@{/css/formAutore.css}"/>
</head>
<body>


  <div class="form-container">
    <h1>Aggiungi Autore</h1>
    <form th:action="@{/autori/admin/salva}"
          th:object="${autore}"
          method="post"
          enctype="multipart/form-data">
      <!-- CSRF token -->
      <input type="hidden"
             th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}"/>

      <label for="nome">Nome:</label>
      <input id="nome" type="text" th:field="*{nome}" required/>

      <label for="cognome">Cognome:</label>
      <input id="cognome" type="text" th:field="*{cognome}" required/>

      <label for="dataNascita">Anno di nascita:</label>
      <input id="dataNascita" type="number" th:field="*{dataNascita}" required/>

      <label for="dataMorte">Anno di morte:</label>
      <input id="dataMorte" type="number" th:field="*{dataMorte}"/>

      <label for="nazionalita">Nazionalità:</label>
      <input id="nazionalita" type="text" th:field="*{nazionalita}" required/>

      <label for="fotoFile">Foto Autore:</label>
      <input id="fotoFile" type="file" name="fotoFile" accept="image/*"/>

      <button type="submit">Salva Autore</button>
    </form>
  </div>

</body>
</html>
